.votingpage-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #27272d;
}

.votingpage-form {
  top: 191px;
  left: 410px;
  width: 585px;
  height: 439px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.votingpage-text {
  color: rgb(243, 232, 232);
  position: relative;
  left: 200px;
}

.votingpage-text2 {
  color: rgb(243, 232, 232);
  position: absolute;
  top: 550px;
}

.votingpage-textinput {
  top: 261px;
  left: 119px;
  position: absolute;
  background-color: #53a0a4;
}

.votingpage-button {
  top: 100px;
  left: 600px;
  position: absolute;
}

.votingpage-button1 {
  top: 80px;
  left: 389px;
  position: absolute;
}

.votingpage-textinput1 {
  top: 100px;
  left: 300px;
  color: #0e0e0d;
  position: absolute;
  background-color: #ffffff;
}

.votingpage-image {
  top: 40px;
  left: -5px;
  width: 480px;
  position: absolute;
  object-fit: cover;
}

.votingpage-text1 {
  color: #e0dddd;
}

.votingpage-table-container {
  width: 100%;
  margin-top: auto;
  margin-bottom: 60px;
  overflow: hidden;
  max-height: 170px; /* Set a maximum height for the table container */
  overflow-y: auto;
}

.votingpage-table {
  width: 100%;
  border-radius: 8px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: rgb(222, 219, 219);/* Set table background color to white */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.votingpage-table th,
.votingpage-table td {
  padding: 8px;
  border: 1px solid #dddddd;
  color: #000; /* Set text color to black */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .votingpage-table th,
  .votingpage-table td {
    font-size: 14px;
  }
}
